In [1]:
import pandas as pd

df = pd.read_csv("../../数据下载/RB99_1m_2010.1.1_2025.1.31.csv")
df.tail()

,order_book_id,datetime,trading_date,open,volume,close,high,total_turnover,open_interest,low
1140160,RB99,2025-01-27 14:56:00,2025-01-27,3381.3563,4363.0,3382.3223,3382.4620,147437860.0,2159390.0,3380.3447
1140161,RB99,2025-01-27 14:57:00,2025-01-27,3381.6148,7681.0,3383.5501,3384.3437,259663260.0,2156420.0,3381.6148
1140162,RB99,2025-01-27 14:58:00,2025-01-27,3383.6245,4838.0,3383.4748,3384.5028,163545650.0,2154310.0,3382.6001
1140163,RB99,2025-01-27 14:59:00,2025-01-27,3383.7471,8432.0,3383.6360,3384.6823,285032630.0,2150497.0,3382.7246
1140164,RB99,2025-01-27 15:00:00,2025-01-27,3383.6482,12204.0,3385.2618,3385.7454,412045540.0,2148906.0,3383.3520

In [2]:
df = df[["datetime", "open", "close", "high", "low", "volume"]]